name: CI

on:
 push:
      branches: [ master , build-pipeline  ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR and run tests
        run: mvn clean package #build jar and runs tests

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar #tell GitHub which files to include

      - name: Test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: test-reports
            path: target/surefire-reports/   #maven automatically creates test reports here
      - name: Run Tests and Lint
        run: mvn verify